* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

.two-columns-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* columns */
.two-columns-grid > * {
    padding: 1rem;
    margin-top: 50px;
}

.two-columns-grid :nth-child(odd){
    margin-left: 100px;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: black;
    background-color: #191919;
}

.intro-text {
    background-color: #222831;
    color: white;
    padding: 2rem;
    
    
}
  
.container {
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

.intro-text h1 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

p, a {
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    line-height: 1.6;
}

a:link {

    color: #C77D48;
}

/* this works */
a:visited {
    color: #7985ff;
    text-transform: uppercase;
}

/* this works too */
a:hover{
    color: #c57900;
}

a:active
{
    color:white;
}